ZITADEL_ISSUER=https://topfix-wrczmn.us1.zitadel.cloud
ZITADEL_CLIENT_ID=336777344075263315
ZITADEL_CLIENT_SECRET=your_client_secret_here
PORT=4000
CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:8080,https://opensourcekd.github.io
